<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>




</head>

<body>

    <button class="button">

        click here

    </button>

    <p>
        for instructor profile
    </p>

    <p>
        for client profile
    </p>

    <p>
        for survey test
    </p>
    <p>
        for instructor search
    </p>


    <div class="card">
        <div class="card-header">
            <h4>Instructor Data Test</h4>
        </div>
        <div class="card-body">
            <ul id="instructorData" class="list-group"></ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>



    </script>

</body>

</html>